{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{m.title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recommender/stylin_profilin.css' %}" />
  </head>
  <body>
    <h1>{{ m.title }}</h1>
    <ul>
      <li>Movie ID: {{ m.id }}</li>
      <li>Release Date: {{ m.release_date }}</li>
      <li>Average Rating: {{ avg_rating }}/5 ({{rating_count}} ratings)</li>
    </ul>
    <h3>Reviews</h3>
    <ol>
    {% for rate in all_movie_rating %}
      <li><a href="{% url 'recommender:rater_profile' rate.rater.id %}">{{ rate.rater.name }}</a>
        {{rate.rating}}/5</li>
    {% endfor %}
    </ol>
    <footer><a href='/recommender'>Index</a></footer>
  </body>
</html>
