{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>TOP 20</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recommender/stylin_profilin.css' %}" />
  </head>
  <body>
    {% if top20 %}
      <ul>
      {% for movie in top20 %}
        <li>
          <a href="{% url 'recommender:movie_profile' movie.id %}">{{ movie }}</a>
        </li>
      {% endfor %}
    {% else %}
      <p>Nothing to show.</p>
    {% endif %}
      </ul>
    <footer><a href='/recommender'>Index</a></footer>
  </body>
</html>
