nav {
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;

}

nav ul li a {
    display: block;
}

nav ul li a:hover {
    display: block;
    font-size: 20px;
    transition: 0.1s;
    t
}

body{
  padding: 5px;
  background-color: #abcdef;
  font-family: Helvetica;
}

footer{
  position: absolute;
  width: auto;
  margin:auto;
}
