/* unvisited link */
a:link {
  color: #123456;
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: black;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: white;
}

/* selected link */
a:active {
  text-decoration: none;
  color: blue;
}

body{
  padding: 5px;
  background-color: #abcdef;
  font-family: Helvetica;
}

#welcome{
  position: fixed;
  margin: auto;
  top: 0;
  right: 1;
  bottom: 1;
  left: 0;
  width: 400px;
  height:40px;
  background-color: white;
}

ul.toaster {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li.main {
    float: left;
}

li.main a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.main a:hover {
    background-color: #111;
}

footer{
  position: absolute;
  width: auto;
  margin:auto;
  overflow: auto;
  position: static;
  top: 1;
  right: 0;
  bottom: 0;
  margin-left: 45%;
}
